        body {font-family: Arial;
              margin:0;
        }
              
        #stage {
                width: 530px;
                height: 530px;
                position: relative;
                }
        canvas { position: absolute; 
                 cursor: pointer;
				 width: 530px; 
				 height: 530px;
        }
        #wavelength{ z-index: 3; }
        #position{ z-index: 4; }
        #layer1 { z-index: 2; }
        #myCanvas { z-index: 1; }
        .con {width:530px; height:530px;}
        .container{margin-left: 10px; margin-top: 10px; padding-top: 20px;}
        .button {
                background-color: #595959;
                border: none;
                color: white;
                padding: 10px 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 4px;
                }
			.button:hover {
                background-color: black;
                }

        .panel {
                list-style-type: none;
                margin: 0;
                padding-left: 150px;
                padding-top: 20px;
                overflow: hidden;
                background-color: #f2f2f2;
                height: 150px;
                width: 100%;
                
                
        }
        div.form {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            width: 500px; 
            font-size: large;
        }
        
        input[type=text], text{
            width: 100%;
            padding: 8px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        div.log {
            background-color: white;
            width: 95%;
            height: 200px;
            border: 1px solid #ccc;
            overflow: scroll;
            margin: 10px;
            padding: 5px;
        }
		.adj {max-width: 500px;}
		p {
		margin-top: 1px;
		margin-bottom: 1px;
		}
		p.main{ font-size:50px;}
		p.submain{font-size: 30px;}
		.mycol{float:left;width:100%;}
		.content{max-width:1200px;margin:auto}
		.spacer{height:10px;}
		.row:before,.row:after{content:"";display:table;clear:both}	
		
@media screen and (max-width: 500px) {

    .container{margin-left: 5px; margin-right: 5px; margin-top: 10px; padding-top: 20px;}
	 div.form {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            width: 375px; 
            font-size: large;
    }
	.panel {
			padding-left: 10px;
	}	
	        #stage {
                width: 400px;
                height: 400px;
                position: relative;
                }
    canvas { position: absolute; 
                 cursor: pointer;
				 width: 400px; 
				 height: 400px;
				 
    }
	.adj {width: 400px;}

}

@media screen and (max-width: 650px) {
	p.main{font-size:30px;}
	p.submain{font-size: 20px;}
		.panel {
			padding-top: 10px;
			height: 100px;
			padding-left: 20px;		
	}	
	.mobile{display:block;
			width:100%!important}
}